<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :survey_id %><br>
    <%= f.text_field :survey_id %>
  </div>
  <div class="field">
    <%= fields_for :questions do |builder|  %>
      <p>
      <%= builder.label :description, "Do you like your weather..."  %>  
      </p> 

      
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
