<p>
  <%= f.label :description, "Question" %><br />
  <%= f.text_field :description, :rows => 3 %><br />
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove Question" %>
</p>
<%= f.fields_for :answers do |ans| %>
  <%= render 'answer_fields', :f => ans %>
<% end %>
