<p id="notice"><%= notice %></p>
</p>

<h2>
<%= @topic.description %>
</h2>

<p>
  <%  @topic.questions.each do |question|  %>
    <%= question.description %> 
  <% end %>
</p>


<%= link_to 'Edit', edit_topic_path(@topic) %>
<%= link_to 'Back', topics_path %>
