<p id="notice"><%= notice %></p>

<p>
  <strong>Weather:</strong>
  <%= @move.weather %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @move.budget %>
</p>

<p>
  <strong>Safety:</strong>
  <%= @move.safety %>
</p>

<p>
  <strong>Recreation:</strong>
  <%= @move.recreation %>
</p>

<%= link_to 'Edit', edit_move_path(@move) %> |
<%= link_to 'Back', moves_path %>
