<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @move.title %>
</p>

<p>
  <strong>Moderate:</strong>
  <%= @move.moderate %>
</p>

<p>
  <strong>Hot:</strong>
  <%= @move.hot %>
</p>

<p>
  <strong>Cold:</strong>
  <%= @move.cold %>
</p>

<p>
  <strong>Bunny:</strong>
  <%= @move.bunny %>
</p>

<p>
  <strong>Cautious:</strong>
  <%= @move.cautious %>
</p>

<p>
  <strong>Badass:</strong>
  <%= @move.badass %>
</p>

<p>
  <strong>Poor:</strong>
  <%= @move.poor %>
</p>

<p>
  <strong>Solid:</strong>
  <%= @move.solid %>
</p>

<p>
  <strong>Bling:</strong>
  <%= @move.bling %>
</p>

<p>
  <strong>Hike:</strong>
  <%= @move.hike %>
</p>

<p>
  <strong>Theater:</strong>
  <%= @move.theater %>
</p>

<p>
  <strong>Lecture:</strong>
  <%= @move.lecture %>
</p>

<%= link_to 'Edit', edit_move_path(@move) %> |
<%= link_to 'Back', moves_path %>
