  <p>
    <%= f.label :description, "Topic" %><br />
    <%= f.text_area :description %><br />
    <%= f.check_box :_destroy %>
    <%= f.label :_destroy, "ReInvigorate Question" %>
  </p>
  <%= f.fields_for :questions do |quest| %>
    <%= render 'question_fields', :f => quest %>
<% end %>

