<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Live Here!" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <div class="large-3 columns top-pic"><%= image_tag("https://live-here.s3.amazonaws.com/beach.jpg") %></div>
      <div class="large-3 columns top-pic"><%= image_tag("https://live-here.s3.amazonaws.com/cityscape.jpg")%></div>
      <div class="large-3 columns top-pic"><%= image_tag("https://live-here.s3.amazonaws.com/countryside.jpg")%></div>
      <div class="large-3 columns top-pic"><%= image_tag("https://live-here.s3.amazonaws.com/mountain.jpg")%></div>
    </div> 
    <div class="row live-hdr "  >
      <div class="small-8 small-centered columns " ><p class="banner">Make your Choices for the Perfect Place to Live!</p></div>
    </div>
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name"><h1><%= link_to "Live Here", root_path %></h1></li> 
      </ul>
      <section class="top-bar-section">
        <% if user_signed_in? %>
          <ul class="auth">
          <li> Signed in as </li>
        </ul>
        <ul>
          <li><%= current_user.email %></li>
        </ul>
        <ul>
          <li> Not you? </li>
        </ul>
        <ul class="auth">
          <li> <%= link_to 'Sign out', destroy_user_session_path, method: :delete %> </li>
        </ul>
      <% else %>
          <ul class="auth">
          <li> <%= link_to 'Sign up', new_user_registration_path %> </li>
        </ul>
        <ul class="auth">
          <li><%= link_to 'Sign in', new_user_session_path  %> </li> 
        </ul>
      <% end %>
        <ul class="right auth ">
          <li><%= link_to "Contact Us" %></li>
        </ul>
      </section>
    </div>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
  <%= javascript_include_tag "application" %>
</body>
</html>
